# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# Build
target/
build/
out/

# Maven
.mvn/
mvn-wrapper.properties

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# JetBrains IDEs (IntelliJ, WebStorm, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
